body{
    background-image: url("t-spider.jpg");
    text-align: center;
}


footer{
    text-align: left;
    font-family: Tahoma;
    font-size: small;
    color: dimgrey;
    margin-right: 7in;

    
}
h1{
    background-color: rgb(185, 183, 192);
    font-style: oblique;
    font-family: 'Courier New';
    color: rgb(71, 71, 70);
    
}

#title{
    color-scheme: red;
    text-align: left;
    font-size: 0.5in;

}
.desc{
   background-color: rgb(97, 97, 102);
   margin-right: 10in;
   text-align: left;
   color: black;
   font-family: Courier New;
}
.descr{
    text-align: left;
    margin-right: 5in;
    font-family: Verdana;
    color: white;
}