.mydiv{
    border-style: solid;
    margin: 10px;
    background-color: rgb(143, 138, 138);
}
.logoimage{
    
    margin: 10px;
    border-style: solid;
    float: left;
}
.myarticle{
    border-style: solid;
    margin: 15px;
}
.sect1{
    border-style: solid;
    margin: 15px;
    background-image: url("forrestchairr.jpg");height: 2in;
}
.sect2{
    border-style: solid;
    margin: 15px;
    background-image: url("naruto.jpg");height: 2in;
}
.sect3{
    border-style: solid;
    margin: 15px;
    background-image: url("adventuretime.jpg");height: 2in;
}
.mydiv2{
    border-style: solid;
    margin: 10px;
    background-color: rgb(143, 138, 138);
}
.mydiv3{
    border-style: solid;
    margin: 10px;
    background-color: rgb(102, 100, 100);
}
body{
    border-style: groove;
    background-color: rgb(78, 77, 77);
}
footer{
    margin: 15px;
}
.nesteddiv{
    margin: 5px;
    width: 11in;
    margin-left: 1.5in;
    margin-bottom: 1in;

}
mark{
    background-color: rgb(185, 187, 189);
}